.map{
    height: auto;
    width: 100%;
    
  }
  .map_data,.ctable{
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .map_image{
    background-color: #585858;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .map_image path{
    fill:#d3d3d3;
     stroke: #717171;
    stroke-width: 0.791969970703125px;
    transition: fill 0.3s;
  }
  .map_image path[title]{
    background-color: red;
  }
  
  .map_image path.is-active {
    fill:#3538d2;
  
  }
  .map_image path.is-focus-active{
    fill:#aa0707;
  
  }
  .map_image a.is-active {
    fill:#3538d2;
  
  }
  
  
  
  
  .map_prefecture a{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
  } 
  .map_prefecture a.is-active{
    color: #3538d2;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .map_prefecture a.is-focus-active{
    color: #aa0707;
    font-weight: bold;
    text-decoration: underline;
  } 

  